.timelines-container {
  margin: 10px;
  min-height: 100px;
  outline: 1px solid cornflowerblue;
}

.timelines-item {
  border: 1px solid pink;
  margin: 10px;
}

.timelines-empty {
  text-align: center;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 38px;
}